#Venv 
.venv
venv/

#pycache
QCNN/__pycache__
QCNN/*/__pycache__
*.pyc

#for testing and checking modules and snippets
# implementationTests/
# implementationTests/*

#Results
# Results/*
# Results/
training_log.txt
training_summary.txt
Results/Cache/


# output.txt
datasets/images/*
datasets/*.*
datasets/MNIST/
