#Venv 
.venv
venv/

#pycache
QCNN/__pycache__
QCNN/*/__pycache__
*.pyc

#for testing and checking modules and snippets
implementationTests/
implementationTests/*

#Results
# Results/*
# Results/
training_log.txt


# output.txt
datasets/
